.my-custome-tabs{
  text-align: center;
}
.tabs{
  display: flex;
  justify-content: center;
  margin: 40px;
}
.tabs div{
 margin-left: 7px;
}
.tabs .react1{
background-color: blueviolet;
}

  .my-custome-tabs.tabs.active{
      background-color: #48d9f3;
      color: #273133;
    }

   .ui-items-data {
      display: flex;
      justify-content: center;
  }
   .ui-items-data ul {
    text-align: left;
}