.login-container {
  background: linear-gradient(to right, #ffffff 50%, #F18418 50%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .container {
max-width: 70%;
}
.login-heading {
  text-align: center;
  padding-bottom: 15px;
}
.login-heading h2{
  font-size: 22px;
  font-weight: 600;
}
.login-container .input-group-text {
  background-color: transparent !important;
  border: none;
  margin: 1px;
  font-size: 16px;
}

.login-container .login-heading hr {
  border: none; 
  border-top: 2px solid #F18418; 
  width: calc(100% - 212px); 
  margin: 0 auto; 
  margin-top: 0px; 
  font-weight: bold;
}

.login-container .login-bg {
  background-color: #fff;
  height: 100%;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container .login-form {
  margin-top: 20px; /* Adjust the margin to separate the logo and form */
}

.login-container .input-group {
  position: relative;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 22px;
}

.login-container .input-group-prepend,
.input-group-append {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.login-container .input-group-prepend {
  left: 0;
}

.login-container .input-group-append {
  right: 0;
}

.login-container .input-group-text {
  background-color: #f4f4f4;
  border: none;
}

.login-container .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c9c3c3 !important;
}

.login-container .login-button {
  border: none;
  width: 90%;
  margin-top: 15px;
  background: #F18418;
}
.login-container .login-button:hover {
background: #F18418;
}
.login-container .forgot-password {
  float: right;
}

.login-container .login-logo {
  display: block;
  margin: 0 auto; 
  width: 112px; 
  height: auto; 
}

.login-container .foget-password-link {
  margin-top: 14px;
  display: flex;
  justify-content: center;
}
.login-container .foget-password-link a{
text-decoration: none;
color: #49889A


;
}
/* .other-image {
  position: absolute;
  top: 50%;
  left: 29%;
  transform: translate(-50%, -50%) rotate(224deg);
  text-align: center;
  z-index: 12;
  opacity: 0.5;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
} */
.other-image {
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translate(-50%, -50%) rotate(180deg);
  text-align: center;
  z-index: 12;
  opacity: 0.5;
  overflow: hidden;
  width: 254px;
  height: 279px;
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}


@media screen and (max-width:1000px) and (min-width:600px) {
.login-container .other-image {
 
  position: absolute;
  text-align: center;
  top: 200px;
  left: 26px;
  width: 30%;
  height: 30%;
  z-index: 12;
  opacity: 0.5;
  
}.login-container .col-custom {
  flex: 0 0 50%; 
  max-width: 56%; 
}
}
@media screen and (max-width:780px) {
  .login-container .container {
    max-width: 100%;
}.other-image {
  position: absolute;
  text-align: center;
  top: 233px;
  left: 91px;
  z-index: 12;
  opacity: 0.5;
  border-radius: 50%;
  transform: rotate(181deg);
  overflow: hidden;
  width: 127px;
  height: 151px;
}
}